$sidebar-color: #23272a;
$chatfeed-color: #2c2f33;
$red-color: #ed4245;
$white-color: #ffffff;
$black-color: #000000;
$light-purple-color: #7289da;
$gray-color: hsla(0, 0%, 100%, 0.568);
$dark-gray-color: #777;
